@using System.Diagnostics
@using System.Numerics

@inject CollatzGrpc.Collatz.CollatzClient collatzClient

@page "/sequence-grpc"

<h1>Sequence - Grpc</h1>

<button class="btn btn-primary" @onclick="this.CreateSequenceAsync">Find Longest Sequence</button>
<p>Results: @this.results</p>

@code {
    string results = string.Empty;
    private Range range = 5_000_000..6_000_000;

    public async Task CreateSequenceAsync()
    {
        var stopwatch = Stopwatch.StartNew();
        var request = new CollatzGrpc.CollatzRequest()
        {
            Start = range.Start.Value,
            End = range.End.Value
        };
        var result = await collatzClient.FindLongestSequenceAsync(request);
        stopwatch.Stop();

        this.results = $"Longest sequence in range {range} is {result.Length} for { new BigInteger(result.Value.ToByteArray()) } - Elapsed time is {stopwatch.Elapsed}";
        this.StateHasChanged();
    }
}